html, body.body{
  font-family: 'Caveat', cursive;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.sticky-header {
            position: fixed;
            top: 0;
            left: 0;           /* wichtig, damit es ganz links beginnt */
            width: 100%;       /* volle Breite */
            z-index: 1030;
            background-color: #343a40;
            color: white;
            padding: 0.75rem 0;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

.background-container {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;

}



.login-box {
  display: flex;
  width: 900px;
  max-width: 95%;
  height: 680px;
  background: white;
  border-radius: 16px;
  overflow: revert-layer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Linke Seite: Formular */
.login-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-form input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.login-form button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #0056b3;
}
.toggle-link {
  text-align: center;
  color: #007BFF;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.toggle-link:hover {
  color: #0056b3;
}

/* Rechte Seite: Bild */
.login-right {
  flex: 1;
  background: #e8f0fe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  
}

/* Fehler / Erfolg */
.error, .success {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

.footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
}

.footer a:hover {
  text-decoration: underline;
}
